<header>
  <div class="container header-container">
    <a href="index.html" class="logo">
      <img class="logo-img" src="/assets/images/Logo3.png" alt="" width="200px" height="20px" />
    </a>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="" routerLinkActive="active" >Home</a></li>
        <li><a href="portfolio.html">About</a></li>
        <li><a href="portfolio.html">Projects</a></li>
        <li><a routerLink="/blog-detail" routerLinkActive="active" >Blog</a></li>
        <li><a href="portfolio.html">Resources</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <button class="mobile-menu-btn">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
  </div>
</header>
