<app-header></app-header>

<main class="container">
  <article class="blog-post">
    <div class="blog-post-header">
      <h1 class="blog-post-title">
        {{ post ? post['title'] : 'Loading...' }}
      </h1>

      <div class="blog-post-meta">
        <span *ngIf="post && post['date']">{{ post['date'] | date: 'longDate' }}</span>
        <span *ngIf="post && post['author']"> | {{ post['author'] }}</span>
        <span *ngIf="post && post['readTime']"> | {{ post['readTime'] }}</span>
      </div>

      <div class="blog-post-tags" *ngIf="post && post['tags']?.length">
        <span *ngFor="let tag of post['tags']" class="tag" [attr.data-tag]="tag.toLowerCase()">
          {{ tag }}
        </span>
      </div>
    </div>

    <div class="blog-post-content">
    </div>
  </article>

  <div *ngIf="!post">
    <p>Loading post...</p>
  </div>
      <scully-content></scully-content>


</main>

<app-footer></app-footer>
